<%- include("../components/head") %>
<!--条件选择-->
<div class="rent-list">
    <ul>
        <li>区域<span><i></i></span></li>
        <li>类型<span><i></i></span></li>
        <li>价格<span><i></i></span></li>
        <li>更多<span><i></i></span></li>
    </ul>
</div>
<!--房源总数-->
<div class="total-num">
    <p>共找到<span>900</span>套房源</p>
</div>

<!--租房具体房源列表-->
<%- include("../components/rent-list") %>


<%- include("../components/footer") %>