<%- include("../components/head") %>
<div class="wk-panel top-gap">
    <div class="panel-header" style="color : red ;">目前只支持使用微信扫码！</div>
    <div class="panel-body">        
        您好！我们系统的功能正在升级中，对微信之外的其他工具扫码的支持会在近期上线，敬请期待！！
    </div>
</div>
<%- include("../components/footer") %>