<%- include("../components/head") %>
<div class="top-header-name">
    小区在售房源
</div>
<div class="content">
<%- include("../components/esf-items" , { "oldHouseList" : item.houseList } ) %>
</div>
<%- include("../components/footer") %>