<div class="download-app">
    <dl>
        <dt><i class="iconfont icon-logotuxing"></i></dt>
        <dd>今日好房，都在悟空找房！</dd>
        <dd><%= cityName %>房价资讯，一手掌握！</dd>
    </dl>
    <div class="pull-right">
        <a href="javascript:;" class="download" data-bigdata="<%= bigDataParams %>">打开APP</a>
        <i class="iconfont icon-remove"></i>
    </div>    
</div>