<%
    if(typeof title == 'undefined'){
        var title = title || "今日好房，都在悟空找房！";
    }
    if(typeof desc == 'undefined'){
        var desc = desc || (cityName + "房价资讯，一手掌握！");
    }    
%>
<div class="download-app">    
    <div class="pull-right">
        <a href="javascript:;" class="download" data-bigdata="<%= bigDataParams %>">打开APP</a>
        <i class="iconfont icon-remove"></i>
    </div>
    <dl>
        <dt><i class="iconfont icon-logotuxing"></i></dt>
        <dd><%= title%></dd>
        <dd><%= desc %></dd>
    </dl>
</div>