<div class="download-app">
    <dl>
        <dt><i class="iconfont icon-logotuxing"></i></dt>
        <dd>找对人，买好房</dd>
        <dd>就在悟空找房！</dd>
    </dl>
    <div class="pull-right">
        <a href="javascript:;" class="download" data-bigdata="<%= bigDataParams %>">打开APP</a>
        <i class="iconfont icon-remove"></i>
    </div>    
</div>