<div class="essay-category">
    <div>
        <a href="#">推荐</a>
        <a href="#">楼市要闻</a>
        <a href="#">购房百科</a>
        <a href="#">悟空来了</a>
        <a href="#">取经靓点</a>
        <a href="#">频道一二</a>
        <a href="#">频道三思</a>
    </div>
</div>