<div class="filter" data-init="%7B%22metro%22%3A1%2C%22station%22%3A3%2C%22sort%22%3A2%2C%22price%22%3A%22200to500%22%2C%22houseTypes%22%3A%7B%22types%22%3A%5B2%2C3%5D%2C%22features%22%3A%5B3%2C4%5D%7D%7D">    
</div>
