<div class="filter" data-init="%7B%22metro%22%3A1%2C%22station%22%3A3%2C%22sort%22%3A2%2C%22price%22%3A%22200to500%22%2C%22houseTypes%22%3A%7B%22types%22%3A%5B2%2C3%5D%2C%22features%22%3A%5B3%2C4%5D%7D%7D">
    <ul class="filter-items">
        <li class="">区域</li>
        <li class="">总价</li>
        <li class="">户型</li>
        <li class="">排序</li>
    </ul>
    <div class="content">
        <div class="district-metro">
            <ul>
                <li>区域</li>
                <li>地铁</li>
            </ul>
            <div class="district">
                <ul class="parent">
                    <li>宝山区</li>
                    <li>长宁区</li>
                    <li>崇明县</li>
                    <li>奉贤区</li>
                    <li>虹口区</li>
                    <li>黄浦区</li>
                    <li>嘉定区</li>
                    <li>金山区</li>
                </ul>
                <ul class="child">
                    <li>大场镇</li>
                    <li>大华</li>
                    <li>共康</li>
                    <li>高境</li>
                    <li>顾村</li>
                    <li>罗泾</li>
                    <li>罗店</li>
                    <li>上大</li>                    
                </ul>
            </div>
            <div class="metro"></div>
        </div>
        <div class="total-price">
            <ul>
                <li>不限</li>
                <li>100万以下</li>
                <li>100-150万</li>
                <li>150-200</li>
                <li>200-250</li>
                <li>250-300</li>
                <li>300-500</li>
                <li>500-1000万</li>
                <li>1000-2000万</li>                
            </ul>
            <div>
                <input type="text"> - <input type="text"> <span>确定</span>
            </div>
        </div>
        <div class="house-type">
            <div class="house-type-section">
                <h4>户型</h4>
                <ul>
                    <li>不限</li><li>一室</li><li>二室</li><li>三室</li><li>四室</li><li>五室及以上</li>
                </ul>
            </div>
            <div class="house-type-section">
                <h4>特色</h4>
                <ul>
                    <li>进地铁</li><li>即将开盘</li><li>在售楼盘</li><li>有优惠</li><li>有视频</li>
                </ul>
            </div>
            <div class="house-type-section">
                <h4>物业类型</h4>
                <ul>
                    <li>住宅</li><li>别墅</li><li>商用</li>
                </ul>
            </div>
            <div class="house-type-section">
                <h4>装修</h4>
                <ul>
                    <li>毛坯</li><li>简装</li><li>中装</li><li>精装</li><li>豪装</li>
                </ul>
            </div>
            <ul>
                <li>重置</li>
                <li>确定</li>
            </ul>
        </div>
        <div class="sort">
            <ul>
                <li>综合排序</li>
                <li>价格从低到高</li>
                <li>价格从高到低</li>
                <li>面积从小到大</li>
                <li>面积从大到小</li>
            </ul>
        </div>
    </div>
</div>
