<div class="filter">  
<ul class="filter-items"><li><span class="label">区域</span><span class="triangle"></span></li><li><span class="label">总价</span><span class="triangle"></span></li><li><span class="label">户型</span><span class="triangle"></span></li><li><span class="label">均价从高到低</span><span class="triangle"></span></li></ul>  
</div>
