<div class="map" style="background-image:url(https://api.map.baidu.com/staticimage/v2?ak=GByG2pAz1WlmY7wX1rlIM4nd&width=640&height=426&center=121.461263,30.912875&zoom=18);">
    <div class="location">
        <div class="inner">

        </div>
    </div>
    <div class="address">
        <div class="triangle">            
        </div>
        <span class="inner">
            地址：南京西路南西路京西
        </span>
    </div>
</div>