<!--
门店页没有房源和经纪人的样式展示-->


<div class="store-nodata">
    <img src="https://img.wkzf.com/7f5d84e32c6f4474b7f7d1b2b35669dc" alt="无数据">
    <p><%= wordOne %></p>
    <p><%= wordTwo %></p>
    <% if(linkFlag && bigDataParams) { %>
    <a id="goEsf"  data-href="/<%= pinyin %>/esf" data-bigdata="<%= bigDataParams %>">去看看其他房源</a>
    <% } %>
</div>