<div class="search" id="search" style="display: none">
    <div class="search-top">
        <i class="iconfont icon-fanhui"></i>
        <form action="" class="input-kw-form">
            <input id="searchInput" type="text" placeholder="请输入区域、板块或小区名查询房价">
            <i class="iconfont icon-close" style="display: none"></i>
        </form>
    </div>
    <div class="no-result" style="display: none">
        <h3>未找到该地址，请重新搜索</h3>
        <p>您可以更换其他关键字再试一次</p>
    </div>
    <div class="history" style="display: none">
        <p>搜索历史</p>
        <div class="list">
            <ul id="resultHistory">
                <li>
                    <p>长宁区</p>
                    <span>静安寺</span>
                </li>
                <li>
                    <p>长宁区</p>
                    <span>静安寺</span>
                </li>
            </ul>
            <p id="clearHistory">清除搜索历史</p>
        </div>
    </div>
    <div class="have-result" style="display: none">
        <ul id="showResult">
            <li>
                <p>长宁区</p>
                <span>静安寺</span>
            </li>
        </ul>
    </div>
</div>