<%for(var i = 0; i < dynamics.length; i++){%>
<div class="xf-dynamic">
    <h3><%= dynamics[i].title%></h3>
    <h4><%= dynamics[i].publishTimeStr%></h4>
    <p>
        <%= dynamics[i].content%>
    </p>
</div>
<%}%>