<%- include("../components/head") %>
  <div class="dic-name">
      <p>请手动选择城市</p>
      <hr/>
      <div class="table-name">
          <ul>
              <li>国内</li>
              <li>国际</li>
          </ul>
      </div>
  </div>
<div class="city-list">
    <div class="inside-list">
        <div class="inside-city-list">
            <p>定位城市</p>
            <ul>
                <li>上海</li> <li>上海</li> <li>上海</li>
            </ul>
        </div>
    </div>
</div>
<%- include("../components/footer") %>