<%- include("../components/head") %>
<style>
body{
    background-color: #fff;
}
header{
    height: 48px;
    color: #4E4E4E;
    line-height: 48px;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.09);
}

header a {
    width: 48px;
    float: left;
    color: inherit;    
    text-align: center;
}

header a.iconfont::before {
    font-size: 12px;
}

header div {
    text-align: center;
    font-size: 18px;
    margin-right: 48px;
}

.logo {
    text-align: center;
    padding-top: 26px;
}

.logo img {
    width: 64px;
}

.logo div {
    width: 230px;
    height: 12px;
    margin: 0 auto;
    background-size: 230px 12px;
    background-image:url(https://cdn.wkzf.com/wkwap_fe/img/source/about/about_edition.jpg); background-repeat: no-repeat;
    color: #ddd;
    margin-top: 12px;
    line-height: 10px;
}

article {
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}

article h2 {
    font-size: 14px;
    line-height: 40px;
}

article p {
    font-size: 14px;
}

section.contact {
    padding: 20px 15px;
    font-size: 14px;
    color: #7d7d7d;
}

section.contact p {
    line-height: 20px;
}

section.contact .phone {
    color: #4081d6;
}

section.contact span {
    color: #7d7d7d;
    font-size: 12px;
}

footer {

}

footer .info {
    background-color: #2c2d2e;
    color: #a8a8a8;
    width: 100%;
    height: 51px;
    line-height: 51px;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;    
    font-size: 14px;
}

footer .info a {
    color: #a8a8a8;
}

footer .info .hot-line {
    box-sizing: border-box;
    /*float: left;*/
    display: inline-block;
    width: 55%;
    border-right: 1px solid #4d4e50;
    height: 14px;
    line-height: 14px;
}

footer .info .links {
    display: inline-block;
    width: 45%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

footer .beian{
    background-color: #242425;
    color: #aaa;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

footer .beian a {
    color: #4e4e4e;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
</style>
<header class="clearfix">
<a class="iconfont icon-fanhui" href="javascript:history.go(-1)"></a>
<div>
关于我们
</div>
</header>
<section class="logo">
    <img src="https://cdn.wkzf.com/wkwap_fe/img/source/about/about_logo.jpg">
    <div>
        当前版本：33.33
    </div>
</section>
<article>
    <h2>悟空找房</h2>
    <p>悟空找房成立于2015年初，是目前国内最大的MLS（Multiple Listing Service）房源共享体系和中介加盟平台。悟空找房以“相信开放平台的力量，成就精品传统中介”为核心运营理念，通过新房、二手房、WP拓展（WP：WuKong Partner的缩写）三大业务板块，始终坚持在“成就精品中介”的道路上大步践行。悟空找房目前覆盖全国110+城市，数千家精品中介门店，以及30,000以上经纪人精英。</p>
    <h2>悟空找房简介</h2>
    <p>悟空找房——中国最大的MLS和中介加盟平台，于2015年正式上线，隶属于上海好居信息科技有限公司旗下。成立之初以二手房业务为入口，一路发展态势迅猛，于次年迅速纳入新房业务，通过“一二手联动”再次壮大房源共享库。悟空找房瞄准中国数十万亿住房交易市场“小散乱差”的市场痛点，主打以WP（即Wukong Partner缩写）的合作方式，通过房源、品牌、系统、软件、运营、培训等全方位的支持，整合数以万计的线下精品中介，联手共创地产交易的生态大平台。</p>
    <h2>悟空观点</h2>
    <p>1、住房交易市场估值巨大但不会一家独大，存在平台整合的机会和必要</p>
    <p>2、互联网对传统中介转型升级的推动是必然的，但由于整个房产交易流程的特殊性，决定了传统中介是不可完全被取代的</p>
    <p>悟空找房认为房产中介行业的特殊性，决定了其不能完全照搬传统互联网思维的“去门店去中介化”、补贴价格战的烧钱模式。同时，悟空倡导线下门店应该拥抱变化，利用好互联网对信息流通的作用，悟空找房承担的是帮助线下精品中介实现移动互联网升级的使命。</p>
    <h2>企业文化</h2>
    <p>企业使命：让家更美好！</p>
    <p>发展愿景：成为全球最大的房产交易平台！</p>
    <p>六大价值观：品质至上＼精诚合作＼持续成长＼正直诚信＼激情乐观＼传递爱心</p>
    <p>经营理念：相信开放平台的力量，成就精品中介</p>
    <h2>品牌大事记</h2>
    <p>2015年Q1：完成A轮融资。</p>
    <p>2015年8月：悟空找房移动端APP正式上线亮相。</p>
    <p>2015年11月：悟空找房开放平台战略及WP（Wukong Partner）招募正式实施。</p>
    <p>2015年12月：完成数千万美金的B轮融资。</p>
    <p>2016年3月：顺利完成B+轮融资。</p>
    <p>2016年4月：“新房频道”正式上线，同时开启“无处不在”的全渠道战略。</p>
    <p>2016年5月：悟空找房赞助深圳卫视大型创投秀节目《合伙中国人》，在全国掀起“合伙人”狂潮。</p>
    <p>2016年7月：悟空找房连续数月高居上海二手房交易排行榜单第二，其他城市排名每月呈阶梯式上升。</p>
    <p>2016年10月：悟空找房成功进军杭州、苏州、南京、宁波、成都……十多个重点城市。</p>
    <p>2017年1月：“百城万店”全国加盟计划正式启动。</p>
    <p>2017年4月：获得由中华开发领投，北极光创投、挚信资本、SIG 等机构跟投的数千万美元的PreC轮融资；悟空找房率先提出房产互联网3.0时代，宣布PIP元年开启；同时“好经纪人”项目同时启动。</p>
    <p>2017年7月：取经频道相继在C端、B端上线，引领房地产交易走入“透明”时代。</p>
    <p>2018年1月：与今日头条房产版块达成深度合作，开启大流量平台端口免费时代。</p>
    <h2>创新模式成就精品中介</h2>
    <p>悟空找房运用移动互联网的力量，成功创新线上客源、线下渠道以及金融创新的链接模式，重构房产交易生态圈，实现购房者、经纪公司、代理商和发展商多方共赢的崭新跨越。悟空找房以扶持线下中介为根本落脚点，结合互联网思维专业培育线下WP合作店领跑行业，共创佳绩。目前，悟空找房线下WP合作店（即Wukong Partner缩写）在全国各大中小城市均有覆盖，包括上海、杭州、南京、苏州、昆明、武汉、深圳等国内110+个城市，甚至已落地部分海外市场，并以日增15家门店，每15日新增一个城市的拓展速度稳步前行，现正向万家门店冲刺。</p>
    <h2>颠覆传统加盟模式</h2>
    <p>与其它传统的快消式加盟不同，悟空找房不仅提供显性的品牌挂牌支持，更为加盟者提供其它各方面多重服务。从线上的顶尖操作系统，帮助门店更好地进行房客源的收集和管理，到线下的全程帮扶支援；从市调选址帮扶到设计、装修帮扶，从集中招聘、定岗、培训帮扶到督导室实地进店帮扶，再到后期运营中心全程对口帮扶，悟空找房成为目前国内唯一的融合“线上+线下”的真正意义上的开放平台。正基于此，悟空找房以一种颠覆性的革新势力，在同行众多竞争、模仿的加盟平台中脱颖而出，成为全国多个城市中介加盟合作伙伴的最佳选择。</p>
    <h2>产品技术服务多维深耕</h2>
    <p>2016年悟空找房开始发力，成为一匹互联网房地产行业的黑马脱缰而出，铿锵口号“真棒”享誉业界。其全面落实“房源真实，棒！交易安全，棒！服务走心，棒！”三大优势，凸显出对买房用户最为关心的产品、技术、服务问题的重视，三架马车并驾齐驱，共同拉动品牌快速发展。产品方面，除了面向C端用户的官方APP之外，悟空找房旗下开发的“有房有客”在业内堪称“经纪人开单第一神器”，以及可供经纪人随时随地学习的“悟空云”软件均备受好评；技术方面，悟空找房拥有一支强大的技术队伍，成员精英均来自前华为、携程、百度、腾讯、安居客等技术大牛不断为广大用户深耕细作。服务方面，为帮助用户轻松找到高性价比地铁房、学区房、商圈房、精选房、特价房等匹配房源，悟空找房提供优质的经纪服务，另有专业法务团队全程跟踪护航，让买房交易更为安心。</p>
    <h2>百城万店战略火力全开</h2>
    <p>2017年，悟空找房进一步品牌升级，发展速度势如破竹，其通过开放平台的力量启动了城市区域运营商的宏大战略布局——“百城万店”全国加盟计划正式启动，凭借平台在品牌、房源、客源、运营、培训等多重体系的优势，重整“房源中心、服务中心、金融中心”三大内部核心体系，为B端中介提供房产交易核心环节的保障，让房屋买卖更加轻松高效。悟空蓝将快速覆盖中国地图上更多城市、更多区域、更多小区，紧紧围绕“成就精品中介”的发展理念，持续做大做强，朝着“成为全球最大的房产交易平台”的方向大踏步前进！</p>
</article>
<section class="contact">
<p>服务热线：</p>
<p class="phone">400-821-5365<span>（ 周一至周日：早9:30-晚6:30 ）</span></p>
<br/>
<p>公司地址：</p>
<p>上海市长宁区虹桥路996弄45号</p>
</section>
<footer>
    <div class="info clearfix">
        <div class="hot-line" data-bigdata="{pageName:'1001',pageParam:{},eventName:'1001027',eventParam:{},nextPageName:'',nextPageParam:{},city:'43'}">悟空热线：<a href="tel:400-821-5365">400-821-5365</a></div><div class="links">
            <a href="/about.html" data-bigdata="{pageName:'1001',pageParam:{},eventName:'1001028',eventParam:{},nextPageName:'1081',nextPageParam:{},city:'43'}" rel="nofollow">关于悟空</a>
            <a href="/law.html" rel="nofollow" data-bigdata="{pageName:'1001',pageParam:{},eventName:'1001029',eventParam:{},nextPageName:'1114',nextPageParam:{},city:'43'}">律师团队</a>
        </div>
    </div>
    
    <div class="beian">
        <span>©2015 悟空找房. </span>
        <a href="http://www.miitbeian.gov.cn">沪ICP备14043484号-1</a>
    </div>
</footer>
<%- include("../components/footer") %>