<%- include("../components/head") %>
<%- include("../components/download-app" , { "bigDataParams" : {} }) %>
<div class="bg"><img src="<%= appStaticPrefix %>/images/exception/404.jpg" class="img-responsive"></div>
<dl class="container">
    <dt>页面被妖怪抓走了！</dt>
    <dd><a href="/">悟空找房首页</a></dd>
    <dd><span class="countdown"></span> <span>秒后自动返回</span></dd>
</dl>
<%- include("../components/footer") %>