<%- include("../components/head") %>
<style>
    .container {
        text-align : center ;
    }
    .container img {
        margin-top : 200px ;
    }
    .container p {
        color : #000 ;
        display : inline-block ;
        font-size : 16px ;
        margin : 20px ;
    }
</style>
<div class="container">
    <img src="https://img.wkzf.com/04f36182e2754599889eae69fc206270" onclick="window.location.reload() ; ">
    <p>加载失败，点击刷新</p>
</div>
<%- include("../components/footer") %>