<%- include("../components/head") %>
<div class="content-wrapper has-assistant">
        <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <video id="videoplay" src="http://v.wkzf.com/06f91e10db774e6c81195736c84e399aWV.mp4" poster="https://img.wkzf.com/112f72a5248942ec972bdeb4788cb4c2.DL" controls="controls" preload="none">
                        </video>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://img.wkzf.com/f56d971975104155951971ce060b5cf4.DL">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://img.wkzf.com/f56d971975104155951971ce060b5cf4.DL">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://img.wkzf.com/f56d971975104155951971ce060b5cf4.DL">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://img.wkzf.com/f56d971975104155951971ce060b5cf4.DL">
                    </div>
                </div>                
            </div>

    <div class="wk-panel has-right-padding">
        <div class="panel-body one-column-container">
            <dl>
                <dt>
                    所属板块
                </dt>
                <dd>
                    黄浦区 小东门街道
                </dd>
            </dl>
            <dl>
                <dt>
                    产权年代
                </dt>
                <dd>
                    70年
                </dd>
            </dl>
            <dl>
                <dt>
                    竣工年代
                </dt>
                <dd>
                    2010年
                </dd>
            </dl>
            <dl>
                <dt>
                    房屋总数
                </dt>
                <dd>
                    900户
                </dd>
            </dl>
            <dl>
                <dt>
                    物业类型
                </dt>
                <dd>
                    住宅
                </dd>
            </dl>
            <dl>
                <dt>
                    物业费
                </dt>
                <dd>
                    4.9 元/m2/月
                </dd>
            </dl>
            <dl>
                <dt>
                    绿化率
                </dt>
                <dd>
                    35%
                </dd>
            </dl>
            <dl>
                <dt>
                    容积率
                </dt>
                <dd>
                    3.5
                </dd>
            </dl>
            <dl>
                <dt>
                    物业公司
                </dt>
                <dd>
                    戴德梁行
                </dd>
            </dl>
            <dl>
                <dt>
                    开发商
                </dt>
                <dd>
                    上海中建房地产开发公司
                </dd>
            </dl>
            <br/>
            <hr/>
            <br/>
            <dl>
                <dt>
                    地铁
                </dt>
                <dd>
                    9号线[ 杨高中路-松江南路 ]
                </dd>
            </dl>
            <dl>
                <dt>
                    学校
                </dt>
                <dd>
                    上海市上文中学
                </dd>
            </dl>
        </div>
    </div>

    <div class="wk-panel has-right-padding top-gap">
        <div class="panel-header">
            小区评论
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>
<%- include("../components/footer") %>