<%- include("../components/head")%>
<div class="xf-dynamics">
<%- include("../components/xf-dynamic" , { "dynamics" : items } ) %>
</div>
<p class="no-more">
    没有更多动态了
</p>
<%- include("../components/footer")%>