<%- include("../components/head")%>
<div class="xf-dynamics">
<%- include("../components/xf-dynamic" , { "dynamics" : items } ) %>
</div>
<p class="no-more">
    没有更多动态了
</p>
<a class="consult-phone" href="tel:<%= tel %>">电话咨询</a>
<%- include("../components/footer")%>