<%- include("../components/head") %>
<%- include("../components/filter") %>
<div style="margin-top:50px;">
<div class="total">
    <span>共找到</span> <span class="count">98221</span> <span>套房源</span>
</div>
<div>
<%- include("../components/xf-items") %>
</div>
</div>
<%- include("../components/footer") %>